.space {
    background: url('https://stepik.org/media/attachments/lesson/452681/space.png');
    position: fixed;
    width: 100%;
    height: 100%;
}

.planet-area {
    overflow: hidden;
}

.planet {
    width: 400px;
    position: fixed;
    left: -5px;
    bottom: -5px;
    z-index: 1;
}

.rocket {
    position: absolute;
    z-index: 0;
    left: 15%;
    bottom: 34%;
    transform: rotate(30deg);
    width: 100px;
}

.control-panel__inner {
    background: linear-gradient(to bottom right,black,orangered);
    width: 94%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.check-buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.levers {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#lever-1, #lever-2, #lever-3, #lever-4, #lever-5 {
    transform: rotate(270deg);
    height: 20px;
    width: 60px;
}

.control-panel {
    background: linear-gradient(45deg, orangered 25%, black 0, black 50%, orangered 0, orangered 75%, black 0);
    background-size: 30px 30px;
    width: 30em;
    height: 15em;
    left: 400px;
    bottom: 1px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#password {
    border: orangered solid 0.5em;
    border-radius: 1.1em;
    font-size: 1.1em;
    background: black;
    color: orangered;
}

#ok {
    background: orangered;
    border-radius: 1.1em;
}

#launch {
    background: red;
    border-radius: 10em;
    color: whitesmoke;
    font-size: 1.1em;
}
